.container {
  width: 70vw;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  height: 0.5vw;
  width: 0.5vw;
}

h1 {
  text-align: center;
}

#startButton {
  position: fixed;
  top: 10px;
  padding: 10px;
  background-color: red;
  color: white;
}
